{% extends "base.html" %}
{% load static %}

{% block 'body' %}

<div class="relative isolate overflow-hidden bg-gray-900 min-h-screen">
    <svg class="absolute inset-0 -z-10 size-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
        <defs>
            <pattern id="pattern-bg" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                <path d="M.5 200V.5H200" fill="none" />
            </pattern>
        </defs>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#pattern-bg)" />
    </svg>

    <div class="max-w-7xl mx-auto py-12">
        <div class="grid grid-cols-1 md:grid-cols-2 px-2 gap-6">

            <div class="bg-slate-200/5 ring ring-1 ring-white/20 rounded-md py-8 px-6">
                <form action="{% url 'escrever' %}" method="POST">
                    {% csrf_token %}
                    <h1 class="text-pretty font-semibold tracking-tight text-white sm:text-4xl">Faça aqui seu registro diário</h1>
                    <br>
                    <div>
                        <label for="titulo" class="block text-sm/6 font-medium text-gray-200">Título</label>
                        <input type="text" name="titulo" id="titulo" 
                               class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-indigo-600 sm:text-sm/6" 
                               placeholder="Título aqui...">
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
                        <div>
                            <label for="tags" class="block text-sm/6 font-medium text-gray-200">Tags</label>
                            <select multiple name="tags" id="tags" 
                                    class="block w-full rounded-md bg-white px-3 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6">
                                <option value="Viagem">Viagem</option>
                                <option value="Trabalho">Trabalho</option>
                            </select>
                        </div>
                        <div>
                            <label for="pessoas" class="block text-sm/6 font-medium text-gray-200">Pessoas</label>
                            <select multiple name="pessoas" id="pessoas" 
                                    class="block w-full rounded-md bg-white px-3 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6">
                                {% for i in pessoas %}
                                    <option value="{{ i.id }}">{{ i.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="mt-4">
                        <label for="texto" class="block text-sm/6 font-medium text-gray-200">Texto</label>
                        <textarea name="texto" id="texto" rows="5"
                                  class="block w-full rounded-md bg-white px-3 py-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6"
                                  placeholder="Escreva aqui..."></textarea>
                    </div>

                    <button type="submit" 
                            class="mt-6 w-full text-center rounded-md bg-indigo-600 px-3.5 py-2.5 text-xl font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-indigo-600">
                        Publicar
                    </button>
                </form>
            </div>

            <div>
                <h1 class="text-balance text-2xl font-semibold tracking-tight text-white">Veja suas recordações</h1>
                <div class="mt-2">
                    <label for="data" class="block text-sm font-medium text-gray-200">Escolha uma data</label>
                    <input type="date" id="data" 
                           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6">
                    <button id="link" 
                            class="mt-4 w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-xl font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-indigo-600">
                        Entrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const input = document.getElementById('data');
    const link = document.getElementById('link');

    input.addEventListener('input', () => {
        const data = input.value;
        if (data) {
            link.href = `/diario/dia?data=${data}`;
        } else {
            link.href = "#"; 
        }
    });

    link.addEventListener('click', (e) => {
        const data = input.value;
        if (!data) {
            e.preventDefault();
            alert('Por favor, selecione uma data válida antes de continuar.');
        }
    });
</script>

{% endblock %}
